@{
    ViewBag.Title = "Home";
}

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-4 col-md-4 my-3">
            <center>
                <div class="card card-animation" style="width:300px">
                    <img class="card-img-top img-fluid" src="~/images/card/img_avatar1.png" alt="Student image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Student Portal</h4>
                        <a href="@Url.Action("StudentLogin", "Home")" class="btn btn-UNi">Open Portal</a>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-lg-4 col-md-4 my-3">
            <center>
                <div class="card card-animation" style="width:300px">
                    <img class="card-img-top img-fluid" src="~/images/Card/img_avatar2.png" alt="Teacher image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Teacher Portal</h4>
                        <a href="@Url.Action("TeacherLogin", "Home")" class="btn btn-UNi">Open Portal</a>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-lg-4 col-md-4 my-3">
            <center>
                <div class="card card-animation" style="width:300px">
                    <img class="card-img-top img-fluid" src="~/images/Card/img_avatar3.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Admin Portal</h4>
                        <a href="@Url.Action("AdminLogin", "Home")" class="btn btn-UNi">Open Portal</a>
                    </div>
                </div>
            </center>
        </div>
    </div>

</div>